*{box-sizing: border-box;}
#wrap{width:100%;height:100vh;display: flex;flex-wrap: wrap;justify-items: center;align-items: center;justify-content: center;align-content: center;}
#wrap .main{width:900px;height:800px;display: flex;border:1px solid rgba(0,0,0,.6);border-radius:5px;overflow:hidden;}
#wrap .main .left{width:70%;}
#wrap .main .right{width:30%;}

/* left - start */
#wrap .main .left .left_tap{border-bottom:1px solid rgba(0,0,0,.6);}
#wrap .main .left .left_tap ul{display: flex;flex-wrap: wrap;justify-content: center;}
#wrap .main .left .left_tap ul li{border:1px solid rgba(0,0,0,.6);cursor: pointer;margin:10px 5px;border-radius:5px;overflow:hidden;}
#wrap .main .left .left_tap ul li a{display:block;padding:10px 30px;font-size:14px;}
#wrap .main .left .left_tap ul li a:link,#wrap .main .left .left_tap ul li a:visited{color:#000;}
#wrap .main .left .left_tap ul li a.current{background: lightyellow;}

#wrap .main .left .left_con{width:100%;height:calc(100% - 58px);background-color:#fff !important;border-right:1px solid rgba(0,0,0,.6);}
#wrap .main .left .left_con .left_list{width:100%;height:100%;padding:5px;display:none;}
#wrap .main .left .left_con .left_list .list_in{width:100%;height:100%;}

#wrap .main .left .left_con .left_list .list_in .list_menu{width:100%;height:100%;}
#wrap .main .left .left_con .left_list .list_in .list_menu ul{width:100%;height:100%;display: flex;flex-wrap: wrap;}
#wrap .main .left .left_con .left_list .list_in .list_menu ul li{border:1px solid #b9b9b9;width:30%;margin:1.5%;height:30%;border-radius: 15px;overflow: hidden;cursor: pointer;position: relative;}
#wrap .main .left .left_con .left_list .list_in .list_menu ul li form{width:100%;height:100%;display:block;}
#wrap .main .left .left_con .left_list .list_in .list_menu ul li .list_wrap{width:100%;height:100%;}
#wrap .main .left .left_con .left_list .list_in .list_menu ul li .list_wrap .img{width:100%;height:70%;margin-bottom:5%;background-size: cover;}
#wrap .main .left .left_con .left_list .list_in .list_menu ul li .list_wrap .text{text-align: center;height:20%;}
#wrap .main .left .left_con .left_list .list_in .list_menu ul li .list_wrap .text h2{font-size:18px;font-weight: 600;height:60%;line-height:25px;}
#wrap .main .left .left_con .left_list .list_in .list_menu ul li .list_wrap .text p{font-size:14px;height:40%;line-height:16px;}
#wrap .main .left .left_con .left_list .list_in .list_menu ul li form .ippp{display:none;}
#wrap .main .left .left_con .left_list .list_in .list_menu ul li form .subBtn{position: absolute;left:0;top:0;width:100%;height:100%;opacity: 0;cursor: pointer;}
/* left - end */

/* right - start */
#wrap .main .right .right_tap{border-bottom:1px solid rgba(0,0,0,.6);}
#wrap .main .right .right_tap ul{display: flex;flex-wrap: wrap;justify-content: flex-end;}
#wrap .main .right .right_tap ul li{border:1px solid rgba(0,0,0,.6);cursor: pointer;padding:10px 15px;margin:10px;border-radius:5px;font-size:14px;}
#wrap .main .right .right_tap ul li#r_1{margin-left:0;}

#wrap .main .right .right_con{width:100%;height:calc(100% - 58px - 30px - 100px);}
#wrap .main .right .right_con .right_list{width:100%;height:100%;padding:15px;}
#wrap .main .right .right_con .right_list .right_in{width:100%;height:100%;overflow:scroll;}

#wrap .main .right .right_con .right_list .right_in .cart_list{border:1px solid rgba(0,0,0,.6);margin-bottom:5px;display:flex;flex-wrap:wrap;border-radius:5px;overflow:hidden;}
#wrap .main .right .right_con .right_list .right_in .cart_list:last-child{margin-bottom:0;}
#wrap .main .right .right_con .right_list .right_in .cart_list .cart_img{width:50px;height:50px;}
#wrap .main .right .right_con .right_list .right_in .cart_list .cart_img img{display:block;width:50px;height:50px;}
#wrap .main .right .right_con .right_list .right_in .cart_list .cart_text{width:calc(100% - 50px - 80px);padding-left:10px;}
#wrap .main .right .right_con .right_list .right_in .cart_list .cart_text h3{height:50%;line-height:25px;font-weight:bold;}
#wrap .main .right .right_con .right_list .right_in .cart_list .cart_text p{height:50%;line-height:25px;font-size:14px;}
#wrap .main .right .right_con .right_list .right_in .cart_list .cart_btn{width:80px;display:flex;flex-wrap:wrap;justify-content:center;align-content:center;}
#wrap .main .right .right_con .right_list .right_in .cart_list .cart_btn input{width:20px;height:20px;}
#wrap .main .right .right_con .right_list .right_in .cart_list .cart_btn span{border:1px solid #fff;width:26px;height:20px;text-align:center;font-size:14px;line-height:20px;}

#wrap .main .right .money{height:30px;line-height:30px;padding:0 30px;border-top:1px solid rgba(0,0,0,.6);border-bottom:1px solid rgba(0,0,0,.6);}
#wrap .main .right .money .money_in{height:100%;}
#wrap .main .right .money .money_in h3{font-size:14px;font-weight:bold;float:left;}
#wrap .main .right .money .money_in p{font-size:14px;font-weight:bold;float:right;}

#wrap .main .right .right_btn{border:1px solid ridge;height:100px;width:100%;}
#wrap .main .right .right_btn .btn_in{width:100%;height:100%;display: flex;flex-wrap: wrap;justify-items: center;justify-content: center;align-items: center;align-content: center;}
#wrap .main .right .right_btn .btn_in .btn{border:1px solid rgba(0,0,0,.6);cursor: pointer;overflow: hidden;border-radius: 5px;}
#wrap .main .right .right_btn .btn_in .btn:first-child{margin-right:5px;}
#wrap .main .right .right_btn .btn_in .btn:last-child{margin-left:5px;}
#wrap .main .right .right_btn .btn_in .btn h3{padding:15px 25px;}
/* right - end */

/*login - pop - start*/
.login_pop{position: absolute;left:50%;top:50%;z-index:99;background: #fff;width:350px;height:350px;transform: translate(-50%,-50%);border-radius: 5px;overflow: hidden;box-shadow: 0 0 5px rgba(0,0,0,0.5);display: none;}
.login_pop .login_in{padding:30px;}
.login_pop .login_in h2{text-align: center;font-size:32px;line-height:60px;font-weight: bold;}
.login_pop .login_in form{padding-top:20px;}
.login_pop .login_in form .line{width:100%;margin-bottom:10px;display: flex;}
.login_pop .login_in form .line span{width:20%;line-height:32px;display: block;}
.login_pop .login_in form .line input{line-height:26px;width:80%;display: block;outline: none;}
.login_pop .login_in form .hidden{display: none;}
.login_pop .login_in form .btn{overflow: hidden;}
.login_pop .login_in form .btn input{width:48%;height:44px;float: left;}
.login_pop .login_in form .btn input:last-child{margin-right:0;margin-left:1%;float:right;}
.login_pop .login_in form .join{margin-top:15px;}
.login_pop .login_in form .join input{height:44px;width:100%;}