<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	

	<settings>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	
	<typeAliases>
		<!-- <typeAlias alias="LoginVO" type="com.mini.pro.vo.LoginVO"/> -->
		<typeAlias alias="MenuVO" type="com.mini.cus.vo.MenuVO"/>
		<typeAlias alias="CartVO" type="com.mini.cus.vo.CartVO"/>
	</typeAliases>

</configuration>